:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
    min-height: 1980px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Cover\ \(5\).png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero {
    position: relative;
    min-height: 100vh;
}

.hero h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0a0a0a;
    text-align: right;
    margin-bottom: 5rem;
}
.hero h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #0394d9;
  font-size: 1.3rem;
  margin-left: 2rem;
}

.hero h3 {
    font-style: italic;
    text-align: left;
    margin-top: 6rem;
    margin-left: 2rem;
    position: absolute;
    font-size: 3.4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0394d9;
    text-shadow: 5px 5px 50px #91e9ff;
}

.hero p {
    margin-top: 14.5rem;
    width: 780px;
    margin-left: 2rem;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}

.logo {
    size: 5px;
}

.home {
    min-height: 100vh;
    margin-top: -5rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.home {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(Cover\ \(6\).png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.home h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: rgb(246, 246, 246);
    text-shadow: 5px 5px 5px #0a0a0a;   
}

.home p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mynavbar {
    background-color: rgba(251, 251, 251, 0.605) !important;
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 300;
}

.mynavbar .nav-link {
    font-weight: 500;
    text-transform: uppercase;
}

.info {
    position: relative;
    background-image: url(Cover\ \(6\).png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.info h2 {
    font-family: 'Courier New', Courier, monospace;
    color: wheat;
}

.info p {
    margin-top: 3.5rem;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: wheat;
    text-align: justify;
}

.info i {
    margin-left: 5rem;
    font-size: 15px;
    overflow-x: hidden;
}

.info {
    position: relative;
    background-image: url(Cover\ \(8\).png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}




.footer{
    padding: 3rem;
    background-image: url(Cover\ \(8\).png);
    color: white;
    width: 100%;
    text-align: center;
    color: #0a0a0a;
    height: 30%;
}

.footer a{
    color: black;
    text-decoration: none;
    text-decoration: underline;
}

.footer h3 {
    text-decoration: underline;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}

.footer p {
    text-align: justify;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.footer small {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

/* Media Query */
/* Extra Large */
@media (max-width: 1980px){
    .home .heart{
        transform: translateX(-50%) translateY(45px);
    }
}


/* Tablet */
@media (max-width: 800px){
    html {
        font-size: 65%;
    }

    .sticky-top{
        overflow: hidden;
    }

    .mynavbar .nav-link {
    font-size: 1.5rem;
    text-align: center;
}

    .hero h3 {
        font-size: 50px;
    }

    .hero p {
        width: 420px;
        font-size: 17px;
        margin-top: 170px;
    }

    .info {
        min-height: 70vh;
    }

    .info p {
        font-size: 18px;
    }

    .mynavbar .navbar-brand, .mynavbar .offcanvas-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 500;
}

.mynavbar .nav-link {
    font-weight: 480;
    font-size: 1.5rem;
    text-transform: uppercase;
}

}

/* mobile phone */
@media (max-width: 576px){
    html {
        font-size: 60%;
    }

    .hero h3 {
        margin-top: 2rem;
        width: 50px;
    }

    .hero img {
        width: 70px;
    }

    .hero h4 {
        text-overflow: hidden;
    }

    .hero p {
        width: 250px;
    }

    .mynavbar .nav-link {
    font-weight: 500;
    text-transform: uppercase;
}

.info {
    min-height: 55vh;
}

.footer h3 {
    font-size: 20px;
    text-align: center;
}

.footer a {
    font-size: 13px;
}

.footer p {
    font-size: 13px;
}
}

